cloud/cfn/statemachine.yaml
#Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
#SPDX-License-Identifier: MIT-0

Comment: A state machine to manage the processing of Waste Image files

StartAt: AppSyncCreate

States:
  AppSyncCreate:
    Type: Task
    Resource: arn:aws:states:::lambda:invoke
    Parameters:
      Payload.$: $
      FunctionName: ${S3EventHandlerArn}
    OutputPath: $.Payload
    Next: DetectLabelsAndImageClassification
  DetectLabelsAndImageClassification:
    Type: Task
    Resource: arn:aws:states:::lambda:invoke
    Parameters:
      Payload.$: $
      FunctionName: ${InvokeZeroShotImageClassificationModelArn}
    OutputPath: $.Payload
    Next: AppSyncUpdate
  AppSyncUpdate:
    Type: Task
    Resource: arn:aws:states:::lambda:invoke
    Parameters:
      Payload.$: $
      FunctionName: ${S3EventHandlerArn}
    OutputPath: $.Payload
    Next: ArchiveImage
  ArchiveImage:
    Type: Task
    Resource: arn:aws:states:::lambda:invoke
    Parameters:
      Payload.$: $
      FunctionName: ${ArchiveImageArn}
    OutputPath: $.Payload
    End: True
